@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* configuração global */

* {
 margin: 0;
 padding: 0;
 color: rgb(255, 255, 255);
 font-family: 'Outfit', helvetica;
}

/* configuração de topo */


header {
margin: -20px;
background:linear-gradient(165deg, #18181b, #1c1917)
}
h1 {
 text-align: center;
 margin-bottom: 20px;
 margin-top: 20px;
}

nav {
 display: flex;
 align-items: center;
 justify-content: space-around;
 
}

nav ul {
 list-style: none;
 display:flex;
}

nav ul li {
 justify-content: space-around;
 letter-spacing: 3px;
 margin-left: 32px;
 font-style: italic;
 margin-bottom: 15px;
}

.apos {
 text-decoration: none;
}

.apos:hover {
 color: #4f46e5;
 transition: .5s;
}

/* configuração de Início */

body {
 background:linear-gradient(90deg, #020617, #1e1b4b)

}

#destaque {
 margin-top: 100px;
}
   
#computadores_em_destaque {
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 gap: 30px;
}

.computers{
 display: flex;
 gap: 80px;

}

.container {
margin-left: 300px;
margin-right: 300px;
margin-bottom: 100px;
border-radius: 30px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
background: linear-gradient(135deg, rgba(225, 225, 225, 0.1), rgba (25, 255, 255, 0));
border:1px solid rgba(255, 2555, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)

}
#computadores_em_destaque h2{
 letter-spacing: 3px;
 text-align: center;
 margin-top: 50px;
 margin-bottom: 50px;
}

#computadores_em_destaque img{
 margin-left: 50px;
 border-radius: 30px;
 margin-bottom: 50px;
}

#computadores_em_destaque h3{
    letter-spacing: 3px;
    margin-left: -20px;
    margin-right: 50px;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;

}

/* configuração de sobre */

#who {
 margin-top: 100px;
 margin-bottom: 30px;
}

#imagem_flex{
 display: flex;   
}

#apresentacao {
 letter-spacing: 3px;
 margin-top: 50px;
 font-size: 24px;
 margin-left: 20px;
 margin-right: 400px;
}

#imagem1 {
 margin-top: 50px;
 margin-left: 280px;
 border-radius: 20px;
}

#where {
 margin-top: 100px;
}

#where_p {
 letter-spacing: 3px;
 margin-left: 280px;
 font-size: 24px;
 margin-right: 280px;
 text-align: center;
 margin-top: 50px;
}

#mapa {
 margin-top: 50px;
 margin-left: 620px;
}

#contatos {
    margin-top: 200px;
}